<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="eshopConnectionString" connectionString="Server=159.122.84.196,780;Database= pinshop_pinshop;User id=pinshop_pinshop;Password=pinservis023" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="webUrl" value="http://localhost:18000/api/"/>-->
    <add key="webUrl" value="http://pinshop.co.rs/productUpdaterService/api/"/>
    <add key="emailSource" value="prodaja@pinshop.rs"/>
    <add key="emailSourcePassword" value="PinServis023"/>
    <add key="emailSourceName" value="PinShop Admin"/>
    <add key="emailSourceSmtp" value="mail.pinshop.rs"/>
    <add key="emailSourceSmtpPort" value="25"/>
    <add key="emailSourceSsl" value="false"/>
    <add key="emailDestination" value="pinserviszr@gmail.com"/>
    <!--<add key="emailDestination" value="jurisicdejan80@gmail.com"/>-->
    <add key="webshopAdminUrl" value="http://pinshop.co.rs/webshopAdmin"/>

    <add key="eweConnectionString" value="http://api.ewe.rs/share/backend_231/?user=pinservis"/>
    <add key="secretCode" value="754fc"/>
    <add key="threegFileUrl" value="http://bg.company3g.com/xml/3gPinZr.zip"/>
    <add key="threegFolderName" value="threegProducts"/>
    <add key="threegZipFileName" value="threegProducts.zip"/>
  </appSettings>
</configuration>